*{
  background-color: #292929;
  font-family: "Montserrat";
  color: #FFFFFF;
}

.link{
  text-decoration: none;
  color: inherit;
}

.link:hover{
  background-color: grey;
  color: black;
  padding: 10px;
  border-radius: 12px;
}

.link:focus{
  background-color: grey;
  color: black;
  padding: 10px;
  border-radius: 12px;
}